<section class="hero flex flex-col justify-center items-center ">
  <img src="" alt="">
  <h1 class="text-2xl mt-4">Search recipes by Ingredients</h1>
  <input
    type="text"
    name="search-input"
    id="search-input"
    placeholder="e.g. Steak, Egg"
  />
  <button id="search-button" class="btn mt-2 px-10 py-2 my-0 font-bold text-green-700 tracking-widest uppercase border-2 border-green-700 hover:bg-green-700 hover:text-[#FF95A1]
    ">Submit</button>

</section>


<main class="recipes flex p-5 flex-wrap ">
  
</main>

<div class="container my-10 mx-auto md:px-6">
  <!-- Section: Design Block -->
  <section class="mb-32 text-center md:text-left">
    <h2 class="mb-12 text-center text-3xl font-bold">Latest articles</h2>

    <div class="mb-6 flex flex-wrap">
      <div class="mb-6 ml-auto w-full shrink-0 grow-0 basis-auto px-3 md:mb-0 md:w-3/12">
        <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
          data-te-ripple-init data-te-ripple-color="light">
          <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2020/14/fn_keto-breakfast-getty_s4x3.jpg.rend.hgtvcom.616.462.suffix/1607971553532.jpeg" class="w-full" alt="Louvre" />
          <a href="https://www.foodnetwork.com/healthyeats/diets/keto-for-beginners">
            <div
              class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]">
            </div>
          </a>
        </div>
      </div>

      <div class="mb-6 mr-auto w-full shrink-0 grow-0 basis-auto px-3 md:mb-0 md:w-9/12 xl:w-7/12">
        <h5 class="mb-3 text-lg font-bold">5 Things You Need to Know Before Going Keto</h5>
        <div
          class="mb-3 flex items-center justify-center text-sm font-medium text-danger dark:text-danger-500 md:justify-start">
          
        </div>
        <p class="mb-6 text-neutral-500 dark:text-neutral-300">
          <small>Published <u>13.01.2022</u> by
            <a href="https://www.foodnetwork.com/profiles/editorial/beth-lipton">Beth Lipton</a></small>
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
          The keto diet trend shows no signs of slowing down. If you’ve decided to give it a shot, there are some key things to know from the start to help you get the best results.
        </p>
      </div>
    </div>


    <div class="mb-6 flex flex-wrap">
      <div class="mb-6 ml-auto w-full shrink-0 grow-0 basis-auto px-3 md:mb-0 md:w-3/12">
        <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
          data-te-ripple-init data-te-ripple-color="light">
          <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2012/7/12/1/HE_washing-pepper_s4x3.jpg.rend.hgtvcom.616.462.suffix/1371609382657.jpeg" class="w-full" alt="Louvre" />
          <a href="https://www.foodnetwork.com/healthyeats/2012/08/produce-safety-101">
            <div
              class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]">
            </div>
          </a>
        </div>
      </div>

      <div class="mb-6 mr-auto w-full shrink-0 grow-0 basis-auto px-3 md:mb-0 md:w-9/12 xl:w-7/12">
        <h5 class="mb-3 text-lg font-bold">Produce Safety 101</h5>
        <div
          class="mb-3 flex items-center justify-center text-sm font-medium text-primary dark:text-primary-400 md:justify-start">
          
        </div>
        <p class="mb-6 text-neutral-500 dark:text-neutral-300">
          <small>Published <u>12.01.2022</u> by
            <a href="https://www.foodnetwork.com/profiles/editorial/toby-amidor">Toby Amidor, M.S., R.D., C.D.N.</a></small>
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
          You know you should be eating your fruits and veggies. But it's just as important to your health to make sure your produce is clean and free of harmful pathogens. Luckily, there are simple tips you can follow to keep you and your loved ones safe.
        </p>
      </div>
    </div>



    <div class="mb-6 flex flex-wrap">
      <div class="mb-6 ml-auto w-full shrink-0 grow-0 basis-auto px-3 md:mb-0 md:w-3/12">
        <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
          data-te-ripple-init data-te-ripple-color="light">
          <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2018/3/22/0/HE_Spaghetti-Tomato-Sauce_s4x3.jpg.rend.hgtvcom.616.462.suffix/1521735368254.jpeg" class="w-full" alt="Louvre" />
          <a href="https://www.foodnetwork.com/healthyeats/diets/2018/is-carb-cycling-a-smart-way-to-lose-weight-">
            <div
              class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]">
            </div>
          </a>
        </div>
      </div>

      <div class="mb-6 mr-auto w-full shrink-0 grow-0 basis-auto px-3 md:mb-0 md:w-9/12 xl:w-7/12">
        <h5 class="mb-3 text-lg font-bold">Is Carb-Cycling a Smart Way to Lose Weight?</h5>
        <div class="mb-3 flex items-center justify-center text-sm font-medium text-yellow-600 md:justify-start">
          
        </div>
        <p class="mb-6 text-neutral-500 dark:text-neutral-300">
          <small>Published <u>10.01.2022</u> by
            <a href="https://www.foodnetwork.com/profiles/editorial/toby-amidor">Toby Amidor, M.S., R.D., C.D.N.</a></small>
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
          The concept of carb-cycling has been around for many years. Some folks are now using this technique in order to lose weight. Here’s an inside look at what carb-cycling is and if you should be trying it in order to shed unwanted pounds.
        </p>
      </div>
    </div>
    
    <div class="mb-6 flex flex-wrap">
      <div class="mb-6 ml-auto w-full shrink-0 grow-0 basis-auto px-3 md:mb-0 md:w-3/12">
        <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
          data-te-ripple-init data-te-ripple-color="light">
          <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2017/6/12/0/HE_Woman-Eating-Yogurt_s4x3.jpg.rend.hgtvcom.616.462.suffix/1496687663490.jpeg" class="w-full" alt="Louvre" />
          <a href="https://www.foodnetwork.com/healthyeats/2017/06/5-foods-that-may-help-you-get-clear-skin-and-rid-acne">
            <div
              class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]">
            </div>
          </a>
        </div>
      </div>

      <div class="mb-6 mr-auto w-full shrink-0 grow-0 basis-auto px-3 md:mb-0 md:w-9/12 xl:w-7/12">
        <h5 class="mb-3 text-lg font-bold">5 Foods That May Help You Get Clear Skin and Rid Acne</h5>
        <div class="mb-3 flex items-center justify-center text-sm font-medium text-yellow-600 md:justify-start">
          
        </div>
        <p class="mb-6 text-neutral-500 dark:text-neutral-300">
          <small>Published <u>10.01.2022</u> by
            <a href="http://blog.foodnetwork.com/healthyeats/author/mdudash/">Michelle Dudash</a></small>
        </p>
        <p class="text-neutral-500 dark:text-neutral-300">
          The link between diet and acne was once considered a myth, but new scientific evidence suggests certain foods may actually help reduce acne. Even the American Academy of Dermatology acknowledges this. If you're frustrated with acne despite your efforts, it's worth looking into your diet.
        </p>
      </div>
    </div>
    
  </section>
  <!-- Section: Design Block -->
</div>

<script src="/js/search.js"></script>