<h1>Search Recipes</h1>

<form action="/" method="POST">
  <input name="text" type="text" placeholder="What do you want to eat?">
  <button>Submit</button>
</form>

{{!-- output recipes based on user search --}}

<div id="recipe-gallery"></div>

<div id="recipe-details" style="display: none;">
  <h2 id="recipe-name"></h2>
  <img id="recipe-image" src="" alt="">
  <h3>Ingredients:</h3>
  <ul id="recipe-ingredients">
    {{#each Recipe}}
    <li>
      <p>{{text}}</p>
    </li>
    {{/each}}
  </ul>
  <h3>Instructions:</h3>
  <p id="recipe-instructions">{{text}}</p>
  <h3>Nutritional Facts:</h3>
  <p id="recipe-nutrition">{{text}}</p>
</div>
