<h1>See What Others Are Thinking</h1>
<!-- Output each user's email address, using a handlebars each loop -->
<ul>
  {{#each thoughts}}
    <li>
      <p>{{text}}</p>
    </li>
    {{/each}}
  </ul>
  <h3>Instructions:</h3>
  <p id="recipe-instructions">{{text}}</p>
  <h3>Nutritional Facts:</h3>
  <p id="recipe-nutrition">{{text}}</p>
</div>

<script src="/js/search.js"></script>