<img src="{{recipe.image}}" alt="">
{{recipe.title}}


<ul>
    {{#each recipe.extendedIngredients}}
    <li>{{this.original}}</li>
    {{/each}}
</ul>

{{!-- Add Buttons to Add to favorite if user is logged in --}}