<div class="flex flex-col items-center justify-center  ">
    <img class="text-center" src="{{recipe.image}}" alt="">
   <p class="recipeTitle"> {{recipe.title}}</p>
</div>

<ul class="recipeUl text-center mt-0">
    {{#each recipe.extendedIngredients}}
    <li class="recipeLi">{{this.original}}</li>
    {{/each}}
</ul>

{{!-- Add Buttons to Add to favorite if user is logged in --}}