{{!-- container --}}
<div class="flex flex-col justify-center items-center">
  <div class="grid grid-cols-1 md:grid-cols-2 w-4/5 md:w-3/5 lg:w-2/5 h-full rounded object-center">
    <form action="/register" method="POST"
      class="flex w-full max-w-lg bg-[#2f4f4f] shadow-md px-8 mt-12 mb-auto">
      {{!-- Logo --}}
      <div class="flex justify-center items-center">
        <img class="h-32 w-auto" src="https://upload.wikimedia.org/wikipedia/commons/0/05/RYPE-LOGO.png" alt="logo" />
      </div>
      {{!-- email --}}
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3">
          <label class="block text-[#72A98F] text-sm font-bold mb-2 font-serif" for="Email">
            E-mail
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" style="background: linear-gradient(to left, #FFA8B2, #FF95A1, #FF828F, #FF6F80)"
            id="Email" type="text" name="email" placeholder="">
        </div>
      </div>
      {{!-- password --}}
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3">
          <label class="block text-[#72A98F] text-sm font-bold mb-2 font-serif" for="password">
            Password
          </label>
          <input
            class="shadow appearance-none rounded w-full py-2 px-3 text-white mb-3 leading-tight focus:outline-none focus:shadow-outline" style="background: linear-gradient(to left, #FFA8B2, #FF95A1, #FF828F, #FF6F80)"
            id="password" type="password" name="password" placeholder="">
        </div>
      </div>
      {{!-- submit button --}}
      <div class="flex justify-center items-center">
        <button
          class="shadow bg-red-700 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
          Submit
        </button>
      </div>
      {{!-- copyright --}}
      <div class="flex justify-center items-center mt-5 mb-5">
        <p class="text-[#72A98F] text-xs font-serif">
          &copy;2023 RYPE. All rights reserved.
        </p>
      </div>
    </form>
    <div
      class="flex flex-wrap flex-col items-center justify-center w-full max-w-lg bg-white shadow-md px-8 mt-12"
      style="background: linear-gradient(to top, #FFA8B2, #FF95A1, #FF828F, #FF6F80)">
      <div class="px-4 py-6 text-white md:mx-6 md:p-12">
        <p class="text-6xl font-serif">
          Register today and join Rype at the dinner table!
        </p>
      </div>
    </div>
  </div>
</div>