@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  padding: 0%;
  font-family: sans-serif;
}

p {
  margin: 0;
  padding: 0;
}








form {
  width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

form > * {
  padding: 7px 10px;
  margin: 3px 0;
}

form h1 {
  text-align: center;
}

ul li {
  margin: 10px 0;
}

ul li p {
  margin: 4px;
}